# Core App Dependencies
streamlit
torch
torchvision
numpy
opencv-python-headless
Pillow

# Google Drive API Dependencies
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# For Google Service Account
google-api-core
google-cloud-core

# Extra for safe JSON and IO handling
requests
